*{
    margin: 0%;
    padding: 0%;
}
.bg2{
    width: 100%;
    height: 310px;
    background: linear-gradient(#2e465fb8,#2b435cbf),url(./services.jpg);
    background-size: cover;
    background-position: center;

}

#set-img1{
    width: 96%;
    height: 50vh;
}

