::-webkit-scrollbar {
    width: 10px;
    transition : all ease-in-out 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #2aa5df;
    transition :1.5s all ease-in-out ;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#1a2837f2,#2b3f56f2);
    /* border-radius: 50px; */
    height: 30px;
}
::-webkit-scrollbar-track {
    background: #dadee3;
}